.container {
  padding: 2rem;
}

.searchContainer {
  width: 70%;
  margin: 5rem auto;
}

.shows {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show {
  width: 21rem;
  height: 29rem;
  margin-right: 6rem;
  margin-bottom: 3rem;
  border-radius: 0.3rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:hover {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }
}

.showImage {
  background-size: cover;
  background-position: center;
}
