.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  background-attachment: fixed;

  padding: 3rem 5rem;
}

.back {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  padding: 1.2rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  fill: white;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.desc {
  font-size: 1.8rem;
  width: 45%;
  color: #999;
}

.rating {
  margin-top: 2rem;

  display: flex;
}

.star {
  fill: gold;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.unstar {
  fill: white;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.subtitle {
  font-size: 3rem;
  font-weight: normal;
  color: #999;
  margin-top: 2rem;
}

.episodes {
  margin-top: 1rem;

  display: flex;
  flex-wrap: wrap;
}

.episode {
  height: 150px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
}
